:root{
    font-family: 'Rye', cursive;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.titleBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100px;
    background-color: saddlebrown;
    margin-top: 5vh;
    margin-left: 15%;
    margin-right: 15%;
}


.arena{
    display: flex;
    align-items:flex-end;
    justify-content:space-between;
    background-image: url("./images/boris-yue-9sE-72cYCeI-unsplash.jpg");
    background-size: 100% 100%;
    height: 70vh;
    margin: 0 15%;
}
.playerAndImage{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex: 1 1 0px;
    
}

.playerLabel{
    background-color: saddlebrown;
    padding: 2px 5px;

}


.RPSFight{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    /*justify-content: space-between;*/
}

.transformContainer{
    width: 100%;
    height: 100%;
}

/*class that will be added to the winner of the round, will "charge" the opponent's image*/
.winnerRight{
    animation: right-to-left 2s linear forwards;
}

.winnerLeft{
    animation: left-to-right 2s linear 1 forwards;
}

/*class that will be added to the loser of the round, will fly up and away after charged by opponent*/
.loserRight{
        animation: fly-right 3s linear 2.1s 1 normal forwards;
}

.loserLeft{
    animation: fly-left 3s linear 2.5s 1 normal forwards;
}

button{
    border-radius: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: larger;
    font-family: 'Rye', cursive;
    color:seashell;
}

button:disabled{
    color: rgba(0, 0, 0, 0.9);
}

.RPSButtons{
    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.pokemon{
    width: 50%;
    height: 25%;
    padding: 0;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

#ComputerPokemon,
#PlayerPokemon{
    padding: 0;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-flex;
    justify-content: center;
    width: 49%;

}

#PlayerPokemon{
    margin-right: 0;
    margin-left: 0;
    
}
#ComputerPokemon{
    margin-left: 0;
    margin-right: 0;
}

.avatar{
    width: 120px;
    height: 200px;
}

.Commentator{
    background-color: saddlebrown;
    margin: 0 15%;
    font-size: 36px;
    text-align: center;
}
@keyframes left-to-right {
    0%{
        transform: translateX(0%);
    }

    25%{
        transform: translateX(20%);
    }

    50%{
        transform: translateX(50%);
    }

    75%{
        transform: translateX(80%);
    }

    95%{
        transform: translateX(80%)
    }

    100%{
        transform: translateX(80%) rotate(-25deg);
        
    }
}

@keyframes right-to-left{
    0%{
        transform: translateX(0%);
    }

    25%{
        transform: translateX(-20%);
    }

    50%{
        transform: translateX(-50%);
    }

    75%{
        transform: translateX(-80%);
    }

    95%{
        transform: translateX(-80%)
    }

    100%{
        transform: translateX(-80%) rotate(25deg);
        
        
    }
}

@keyframes fly-right {
    100%{
        transform: translate(300px, -250%) rotate(1350deg)
    }
}

@keyframes fly-left {
    100%{
        transform: translate(-300px, -250%) rotate(-1350deg)
    }
}

